<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simulador de Banco</title>
    <link rel="stylesheet" th:href="@{/css/cliente.css}">
</head>
<body>
    <div class="container">
        <h1>Simulador de Banco</h1>
        <form th:action="@{/conta/creditar}" method="post">
            <label for="valorCredito">Creditar Valor:</label>
            <input type="number" id="valorCredito" name="valor" required>
            <button type="submit">Creditar</button>
        </form>
        
        <form th:action="@{/conta/debitar}" method="post">
            <label for="valorDebito">Debitar Valor:</label>
            <input type="number" id="valorDebito" name="valor" required>
            <button type="submit">Debitar</button>
        </form>
        
        <form th:action="@{/conta/transferir}" method="post">
            <label for="contaDestino">Conta Destino:</label>
            <input type="text" id="contaDestino" name="contaDestino" required>
            
            <label for="valorTransferencia">Valor para Transferência:</label>
            <input type="number" id="valorTransferencia" name="valor" required>
            
            <button type="submit">Transferir</button>
        </form>
    </div>
</body>
</html>
