<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Simulado - Bem-vindo!</title>
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <div class="container">
    	<img th:src="@{/img/logo.png}" alt="Logo Banco Simulado" class="logo">
        <h1>Banco Simulado</h1>
        <p>Nosso banco é tão seguro que nem o dinheiro entra!</p>
        <a href="/login" class="btn">Login</a>
        <a href="/cadastro" class="btn">Cadastro</a>
    </div>
</body>
</html>
