<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" defer></script>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
	<div class="container">
		<a href="/" class="back-arrow"><i class="fas fa-arrow-left"></i></a>
        <img th:src="@{/img/logo.png}" alt="Logo" class="logo">
        <h2>Login</h2>
        <form th:action="@{/logar}" method="post" th:object="${usuario}">
            <input type="email" placeholder="E-mail" th:field="*{email}" required>
            <input type="password" placeholder="Senha" th:field="*{senha}" required>
            <button class="btn" type="submit">Logar</button>
            
            <div class="mensagem" th:classappend="${sucesso} ? 'sucesso' : (${erro} ? 'erro' : 'invisible')">
	    		<p th:text="${sucesso} ?: (${erro} ?: '')"></p>
			</div>
        </form>
        <a href="/cadastro" class="login-link">Não tem uma conta? Cadastre-se</a>
    </div>
</body>
</html>